spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/splitbuddy_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  flyway:
    enabled: false
    baseline-on-migrate: true
    baseline-version: 3
    locations: classpath:db/migration
  jwt:
    secret: your_secret_key_which_is_long_enough_123456
    expiration: 5184000000 # 60 days in milliseconds
  jackson:
    default-property-inclusion: NON_NULL
    serialization:
      fail-on-empty-beans: false
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false

server:
  port: 420
  address: 0.0.0.0
logging:
  level:
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    com.splitbuddy: DEBUG
